<div class="task-manager">
    <h1>Task Management Application</h1>
    
    <div class="task-creator">
      <input #taskInput type="text" placeholder="Enter a task title" />
      <button (click)="addTask(taskInput.value); taskInput.value = ''">Add Task</button>
    </div>
  
    <div class="task-list">
      <h3>Task List</h3>
      <ul>
        <li *ngFor="let task of tasks; let i = index">
          <span [class.completed]="task.completed">{{ task.title }}</span>
          <button (click)="markTaskAsCompleted(i)" [disabled]="task.completed">MarkAsCompleted</button>
          <button (click)="deleteTask(i)">Delete</button>
        </li>
      </ul>
    </div>
    <h6>Name : Sachin Solankar </h6><h6>Email : sachinsolankar331@gmail.com</h6>
    
  </div>
  